/* ---grid css--- */

.blue{
  background-color:#21409a;
  height:80vh;
  width:10vw;

}

.yellow{
  background-color:#ffde17;
  height:10vh;
  width:30vw;
}


.white{
  background-color:white;
  height:30vh;
  width:30vw;
}
.red{
  background-color: #be1e2d;
  height:40vh;
  width:10vw;
}
.black{
  background-color:black;
  height:40vh;
  width:20vw;
}


.row{
    margin:0 ;
    padding:0;

}
.col{
    margin:0 ;
    padding:0;

}
.white-col{
  height:80vh;
  width:6vw;
  background-color: #F5F5F5;

}


/* -----bauhaus grid only------ */
 h1{
  padding-top:3vw;
  padding-left:2vw;
  padding-bottom:3vh;
  padding-right:2vw; */
  text-align:justify;
  font-size:2.5vw;
  display: inline-block;
  line-height: normal;
  /* vertical-align: middle; */

}


h2{
  padding-left:2vw;
  padding-right:2vw;
  padding-bottom:2vh;
  padding-top:2vh;
  writing-mode:vertical-lr;
  text-orientation: upright;
  font-size:2.8vh;
  text-align:center;
  /* viewport HEIGHT here AND NOT WIDTH!!! ITS VERTICAL STUPID */
  white-space: nowrap;



}
h3{
text-align:center;
padding-left:2vw;
padding-right:2vw;
padding-top:1vh;
padding-bottom:1vh;
font-size: 1.8vw;

}

.scroll-column{
  border-style:solid;
}
h3{
  padding-top:2vw;
  text-align:center;}
