@font-face {
    font-family:"Medieval";
    src: url("../fonts/Ancient\ Medium.ttf");
}

* {
    font-family: "Medieval";
}

a:hover {
    color: rgb(153, 124, 74);
}

.wrap {
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("../img/1500/MmedmanuscriptBG.jpg"); 
}

.sidenav {
    background-image: url("../img/1500/MmedmanuscriptBG.jpg");
}

#hero {
    filter: sepia(1);;
}

#hero .btn-get-started {
    border-style: solid;
    border-width: 5px;
}

#header {
    background-image: url("../img/1500/MmedmanuscriptBG.jpg"); 
    border-color: #000;
    border-bottom: solid;
    border-width: 2px;
    
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #000;
}

.navbar a,
.navbar a:focus {
  color: #000;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #8f6839;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #8f6839;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #8f6839;
}

.navbar .dropdown ul {
    background: #edd9b0;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #8f6839;
  }

#DisclaimerBtn{
    color:#000;
    background-color:rgb(212, 188, 139) ;
    padding: 10px 28px;
    border-radius: 5px;
    transition: 0.5s;
    border: 2px solid

}

.image, img:not(.card-img-top){
    filter: sepia(1);
    border-style: solid;
    border-width: medium;
}

.card-img-top {
    border-right:80px solid;
    border-left: 80px solid;
    padding: 10px;
    border-image: url("../img/1500/border.png") 30% stretch;
}

.features .card{
    background-color: #f0e0c1;
    border-radius: 0px;
    border: 5px solid;
}

.icon-box{
    background-color: #faf8f4;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    
}

.icon-box .img-right {
    border-radius: 0px;
    border: solid;
}

.icon-box .img-left {
    border-radius: 0px;
    border: solid;
}

.card-img-top {
    filter: sepia(1);
}

.features .card:hover {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  background: #e4dccb;
}

.features .card:hover .card-title a {
  color: #523513;
}


.services .icon-box {
    border-style: solid;
    border-width: 5px;
    border-radius: 0px;
    background-color: #f0e0c1;
    margin: 5px;
    height: 50%;
    padding: 10px;
    clear: both;
    display: table;
}

.services .icon-box:hover{
    background-color: #e4dccb;
}

.about p, .card p {
    text-align: justify
}

.about p::first-letter, .card p::first-letter {
    float: left;
    line-height: 35px;
    font-size: 55px;
    color: black;
    border: solid #311e06;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    margin-bottom: -5px;
}

.section-title span {
    display: none;
}

.section-title h2 {
    color: rgb(255, 42, 0);
    border: solid;
    text-transform: capitalize;
}


/*ISSUES SPECIFIC*/
.metadata{
    background-color: #edd9b0;
    border: solid;
}

#navbarTogglerDemo03 ul li a.active {
    color: #8f6839;
}

#toggler {
    background-image: url("../img/1500/MmedmanuscriptBG.jpg") !important;
    border-bottom: black solid 2px ; 
}

.articles h1 {
    border: solid;
    text-transform: capitalize;
    color: rgb(255, 42, 0);
}

table {
    padding: 1em 1em 1em 1em;
    margin:1em 0;
    border-right:40px solid;
    border-left: 40px solid;
    padding: 10px;
    border-image: url("/img/1500/border.png") 30% round;
    align-items: stretch;
    align-content:center;
    width:100%;
}

tbody:not(.table-class){
    font-size:0.8em;
    align-self:center;
}

td {
    text-align: center;
    vertical-align: middle;
    padding:0.5em 0.5em 0.5em 0.5em;
    letter-spacing: 2px;
}

.info {
  color: black;
}


/* MODIFICA 
-> ARTICLES-COMPARE COLORE SFONDO E CHAPTERS VERDI
-> NOTE...

 
