@font-face {
    font-family:"Medieval";
    src: url("../fonts/Ancient\ Medium.ttf");
}

@font-face {
    font-family: "MedievalCaps";
    src: url("../fonts/Romantik.ttf");
}

* {
    font-family: "Medieval";
}

a {
    color: #8f6839;    
}

a:hover {
    color: rgb(153, 124, 74);
}

.wrap {
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("../img/1500/MmedmanuscriptBG.jpg"); 
}

.sidenav {
    background-image: url("../img/1500/MmedmanuscriptBG.jpg");
}

#hero {
    filter: sepia(1);;
}

#hero .btn-get-started {
    border-style: solid;
    border-width: 5px;
}

#header {
    background-image: url("../img/1500/MmedmanuscriptBG.jpg"); 
    border-color: #000;
    border-bottom: solid;
    border-width: 2px;
    
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #000;
}

.navbar a,
.navbar a:focus {
  color: #000;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #8f6839;
}

.navbar-mobile ul {
    background: #eed5a2;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #8f6839;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #8f6839;
}

.navbar .dropdown ul {
    background: #edd9b0;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #8f6839;
  }



.about .image {
background-image: url("../img/updated/med_glass.jpg");
}

#DisclaimerBtn, #DisclaimerBtn:hover{
    color:#000;
    background-color:rgb(212, 188, 139) ;
    padding: 10px 28px;
    border-radius: 0px;
    transition: 0.5s;
    border: 3px solid;
}

.modal-content {
    background-color: #edd9b0;
}

.modal-content a, .modal-content a:hover,
.modal-content .active:hover, .modal-content a:focus {
  color: #8f6839;
}

.image, img:not(.card-img-top){
    filter: sepia(1);
    border-style: solid;
    border-width: medium;
}

.card-img-top {
    border-right:80px solid;
    border-left: 80px solid;
    padding: 10px;
    border-image: url("../img/1500/border.png") 30% stretch;
}

.features .card, .features .card:hover{
    padding-top: 10px;
    background-color: transparent;
    background-image: url("../img/1500/bgcards2.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    box-shadow: none;
}

.services .icon-box{
    background-color: transparent;
    background-image: url("../img/1500/bgiconbox.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    margin: 5px;
    height: 50%;
    padding: 10px;
    clear: both;
    display: table;    
}

.icon-box .img-right, .icon-box .img-left {
    border-radius: 0px;
    border: solid;
}

.services .icon-box .test-content-right p::first-letter  {
    font-family: "MedievalCaps";
    float: left;
    line-height: 40px;
    font-size: 55px;
    color: black;
    border: solid #311e06;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: -5px;
}

.services .icon-box .test-content-left p::first-letter  {
    font-family: "MedievalCaps";
    float: left;
    line-height: 40px;
    font-size: 55px;
    color: black;
    border: solid #311e06;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-bottom: -5px;
}

.card-img-top {
    filter: sepia(1);
}

.features .card:hover .card-title a {
  color: #523513;
}


.about p, .card p {
    text-align: justify
}

.about p::first-letter, .card p::first-letter {
    font-family: "MedievalCaps";
    float: left;
    line-height: 40px;
    font-size: 55px;
    color: black;
    border: solid #311e06;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    margin-bottom: -5px;
}

.section-title span {
    display: none;
}

.section-title h2 {
    color: rgb(255, 42, 0);
    border: solid;
    text-transform: capitalize;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}


/*ISSUES SPECIFIC*/
#navbarTogglerDemo03 a:active, #navbarTogglerDemo03 a:hover, #navbarTogglerDemo03 .active:focus {
    color: #8f6839;
}

#toggler {
    background-image: url("../img/1500/MmedmanuscriptBG.jpg") !important;
    border-bottom: black solid 2px ; 
}

.metadata{
    background-color: #edd9b0;
    border: solid;
}

#metadata-select-metadata, #metadata-select-text {
    font-family: "Medieval";
}

.articles h1 {
    border: solid;
    text-transform: capitalize;
    color: rgb(255, 42, 0);
}

.scroll-column{
    border: 5px solid;
    border-color: #8f6839;
    background-color: #edd9b0;
    overflow-y: auto;
    overflow-x: hidden;
}

table {
    padding: 1em 1em 1em 1em;
    margin:1em 0;
    padding: 10px;
    align-items: stretch;
    align-content:center;
    width:100%;
}

table, th, td {
  border: 5px solid;
  border-color: #8f6839;
}

td {
    text-align: center;
    vertical-align: middle;
    padding:0.5em 0.5em 0.5em 0.5em;
    letter-spacing: 2px;
}

.info {
  color: black;
}

#articles a {
    color: #8f6839 !important;
}

#articles figure {
    margin-left: auto;
    margin-right: auto;
    border-right: 130px solid;
    border-left: 130px solid;
    padding: 6px;
    border-image: url(../img/1500/border.png) 30% stretch;
}

#articles p::first-letter {
    font-family: "MedievalCaps";
    float: left;
    line-height: 40px;
    font-size: 55px;
    color: black;
    border: solid #311e06;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    margin-bottom: -5px;
}

#placeholder p, #articles .info p {
    text-align: center;
    font-family:"Medieval";
    float:none;
    border:none;
    margin:none;
    padding:none;
    line-height:auto;
    font-size:auto;
}
