/* --------------Bauhaus Theme---------------- */

/* --------------Fonts---------------- */

@font-face {
    font-family: 'Baumans';
    src: url('../fonts/bauhaus-font/Baumans-Regular.ttf');
  }

@font-face{
  font-family:"Righteous";
  src:url('../fonts/bauhaus-font/Righteous-Regular.ttf')
}

@font-face{
  font-family:"Sacco";
  src:url('../fonts/bauhaus-font/Sacco-SemiBoldCondensed.ttf')
}


@font-face{
  font-family:"Xpressive";
  src:url('../fonts/bauhaus-font/Xpressive/XPRSV.TTF')
}


@font-face{
  font-family:"CypherLight";
  src:url('../fonts/bauhaus-font/Cypher-Bold/Cypher-Light.ttf')
}


@font-face{
  font-family:"CypherRegular";
  src:url('../fonts/bauhaus-font/Cypher-Bold/Cypher-Regular.ttf')
}

@font-face{
  font-family:"CypherBold";
  src:url('../fonts/bauhaus-font/Cypher-Bold/Cypher-Bold.ttf')
}


@font-face{
  font-family:"CypherSemiBold";
  src:url('../fonts/bauhaus-font/Cypher-Bold/Cypher-Semibold.ttf')
}


@font-face{
  font-family:"Mandala";
  src:url('../fonts/bauhaus-font/Mandala/Mandala Regular.otf')
}


@font-face{
  font-family:"MandalaBold";
  src:url('../fonts/bauhaus-font/Mandala/Mandala Bold.otf')
}


@font-face{
  font-family:"MandalaItalic";
  src:url('../fonts/bauhaus-font/Mandala/Mandala Italic.otf')
}

/* ---------Basic and index page------------ */



.wrap {
    background-color: #f0f0f0;

}
#canvas{
  background-color:#f0f0f0;
}
/*
.sidenav {
    background-image: url("../img/1500/MmedmanuscriptBG.jpg");
} */


#hero{
    background-image: url("../img/bauhaus-img/BAUHAUSHERO.jpg") ;
    background-repeat:repeat;
    background-position:center;
    background-size: cover;
    letter-spacing:2px;


}

#hero h1{
  transform: rotate(-35deg);
  transition-duration: 6s;

}
  /* transform: rotate(-35deg); */

#hero h1:hover{
    transform: rotate(35deg);
    transition-duration: 6s;
    cursor:default;
}
#hero .btn-get-started {
  font-family: "Mandala";
  background: black;
  border: 2px solid white;
  border-radius:0;
  margin-top:5em;
  transition: 0.5s;
  color: white;
  align-items:center;
  align-content:center;
}

#hero .btn-get-started:hover {
  letter-spacing: 3px;
  background: black;
  border: 2px dotted white;
}


#about-img{
  filter:grayscale(100%);
}
/* #hero .btn-get-started:hover {
   */

#about-content p{
  padding-right:8em;
  padding-left:8em;

}
#about-content h3{
  font-family:'CypherSemibold';
  /* writing-mode:vertical-lr !important; */
  display:inline;
  align-self:flex-end;
  /* text-orientation: upright; */

}
#hero a{
  font-family:'CypherBold';
  color:blue;

}
body, p{
  font-family: "CypherRegular";
}
.navbar{
  font-family: "CypherBold";
  text-transform:lowercase;
  letter-spacing:2px;
}


.nav-item{
  font-family:'CypherSemiBold';
  text-transform: lowercase;
}


h3{
  font-family:'CypherRegular';
  color:black;

}
h2{
 /* writing-mode: vertical-rl; */
 position: relative;
 word-wrap: break-word;
 color:black;


}
.scroll-column{
  border: 2px solid red;
  box-shadow: -4px -2px yellow, 5px 5px blue;
  background-color:white;
  color:black;
  overflow-y: auto;
  overflow-x: hidden;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-family:'Mandala';
  letter-spacing:5px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: red;
  position: relative;
  z-index: 2;
  writing-mode:vertical-rl;
  text-orientation: upright;

}

.section-title span {
  position: absolute;
  font-family:'Mandala';
  /* transform:rotateZ(8deg); */
  letter-spacing:10px;
  top: 30px;
  color: red;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title span:hover {
transform:rotateZ(15deg);
}


.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

#services a{
  font-family:'CypherBold';
  color:red;
}

#services a:hover{

}

#services p{
  color:black;
}

#header{
  background:white;
  color:black;
}
#header-content{
}
#header {
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  background: #000;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: lowercase;
}

/* #header .logo h1 a, */
#header .logo h1:hover {
  color: blue;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#features{
  background-color:black;
}
.feature-card{
  /* border: 5px solid blue; */
  background-color: black;
  /* margin-left: 1vw; */
  /* width:30%; */
}
.card-img-top{
  border: 5px solid yellow;

}

.card-body{
  display:flex;
  width:50;
}

.card-title {
display:inline-block;
writing-mode:vertical-lr;
/* text-orientation:upright; */
/* white-space:nowrap; */
vertical-align:middle;
text-transform:lowercase;
font-family:'CypherBold' ;
color: blue;
letter-spacing:2px;

}
.card-text{
  display:inline-block;
  float:right;
  vertical-align:middle;

}

.features .card{
  border-radius:0;
}

.features .card-title a{
  color:blue;
}
.features .card:hover .card-title a {
  color: blue;
  text-decoration: none;
  letter-spacing: 3px;
}


.services .img-left {
  border-radius: 100px;
  margin: 15px;
  width: 120px;
  height: 120px;
  float: left;
  border: 5px dotted blue;
  background-color:yellow;

}

.services .img-right {
  border-radius: 100px;
  margin: 15px;
  width: 120px;
  height: 120px;
  float: right;
  border: 5px dotted blue;
  background-color:yellow;

}

.member{
  border: 2px solid red;
  box-shadow: -4px -2px yellow, 5px 5px blue;
}

.navbar a:hover,
#navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: blue;

}




#navbarTogglerDemo03 a:hover{
  color: blue;
}

#navbarTogglerDemo03 a.active {
  color: blue;

}
.metadata{
  position: sticky;
  background-color: #E5F6DF;
  margin-top:1vw;
  padding: 2em 2em 2em 2em;
  box-sizing:border-box;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border-style: solid;
  background-color:black;
  color:white;

}
.metadata label{
  text-transform:lowercase;
  font-family:'CypherLight';
}

.metadata h5{
  font-family:"CypherBold";
  border-width:5px;
  align-self:center;
color:white;}

.metadata #metadata-select-text{
color:#be1e2d;
}

.metadata #metadata-select-metadata{
color:#ffde17;
}

.metadata #instances{
color:#21409a;
}

.metadata p{
  font-family:'CypherSemiBold';
  letter-spacing:1.5px;
}
.empty{
  font-family:'CypherLight';
  font-size:0.8em;
}


.bauhaus-img{
    background-image: url("img/bauhaus-style/bauhaus-articles.jpg");
    background-size: 35vh;
    background-repeat: no-repeat;
    background-position: center;
    height: 10vh;
}

/* -----------IMAGES----------- */



/* -----------IMAGES----------- */




/* BAUHAUS GRID ONLY!!! IGNORE!!!!!!!! */

/* ---grid css--- */

.blue {
  background-color:#21409a;
  height:80vh;
  width:10vw;

}

.yellow{
  background-color:#ffde17;
  height:10vh;
  width:30vw;
}


.white{
  background-color:white;
  height:30vh;
  width:30vw;
}
.red{
  background-color: #be1e2d;
  height:40vh;
  width:10vw;
}
.black{
  background-color:black;
  height:40vh;
  width:20vw;
}


.row{
    margin:0 ;
    padding:0;

}
.col{
    margin:0 ;
    padding:0;

}
.white-col{
  height:80vh;
  width:6vw;
  background-color: #F5F5F5;

}
#DisclaimerBtn{
  width: 20%;
}

#DisclaimerBtn:hover{
  color:red;
  background-color:yellow;
  transform:rotate(8deg);
  font-family:'CypherBold';

}
.modal-content{
  padding:0 5em;
  background-color:black;
  color:white;
}

/* -----bauhaus grid only------ */

.articles{
  text-align:justify;
}


/* .articles h1{
  font-weight:bolder;
  font-family:"CypherBold";
  letter-spacing:4px;
  text-transform: lowercase;
  font-size:2em;
  text-align:center;
  /* background-color:black;
  color:white; */



.articles p{
  color:#000072;
}
/* .articles h2, h3, h4, h5{
  font-family: "Baumans";
  font-weight: bold;
  text-transform: lowercase;

} */
 h1{
  padding-top:3vw;
  padding-left:2vw;
  padding-bottom:3vh;
  padding-right:2vw; */
  display: inline-block;
  line-height: normal;
  text-transform: lowercase;
  font-family:'Xpressive';
  color:black;

  /* vertical-align: middle; */

}


#articles h2{
  padding-left:2vw;
  padding-right:2vw;
  padding-bottom:2vh;
  padding-top:2vh;
  font-family:'CypherSemiBold';
  text-transform: lowercase;

  /* writing-mode:vertical-lr; */
  /* text-orientation: upright; */
  font-size:1.2em;
  text-align:center;
  background-color:black;
  color:white;

  /* viewport HEIGHT here AND NOT WIDTH!!! ITS VERTICAL STUPID */
  /* white-space: nowrap; */
}

.articles h5{
  font-size:1em;
  font-family:'CypherRegular';



}


h3{
text-align:center;
font-family:'CypherSemiBold';
letter-spacing: 2px;
color:black;
padding-left:2vw;
padding-right:2vw;
padding-top:1vh;
padding-bottom:1vh;
font-size: 1.2em;

}



#articles h1{
  font-family:"CypherBold";
  letter-spacing:4px;
  text-transform: lowercase;
  font-size:1.5em;
  text-align:center;
  text-decoration:none;
  margin:0;
  padding:2vh 2vw;
  background-color:black;
  color:white;


}

#articles h3{
  font-size:1.5em;
  text-align:left;
  text-decoration:none;
  font-family:'CypherBold';
  margin:0;
  padding-top:2vh;



}

#author{
  font-size:1.2em;
  color:black;
  text-decoration:none;
  font-family:'CypherBold';
  margin:0;
  padding:2vh 0;
  letter-spacing:1px;

}

#articles h4:not(#author){
  font-size:1.2em;
  text-align:left;
  text-decoration:none;
  font-family:'CypherBold';
  margin:0;
  padding-top:2vh;
  padding-left:1em;
  letter-spacing:1px;
  color:black;

}

#articles a{
  color:#ffde17;
  font-family: 'CypherSemiBold';
  text-shadow: 1px 1px grey, 1px 1px grey;
}
.bauhaus-line-chapter{
     width:100%;
     height:2px;
     background: black;
     margin-bottom:1em;
}

.bauhaus-line{
   width:100%;
   height:4px;
   background: black;
   margin-bottom:1em;
}





#article-info{
  color:black;
  padding:0 1em;
  font-family:'CypherSemiBold';
  font-size:1em;
  text-align:center;
  background-color:black;
  color:white;


  /* writing-mode:vertical-lr; */
}

/* align items center for the article only */

.info{
  padding-left:4.5vw;
  padding-right:4.5vw;
  font-size:1em;
  font-family:'CypherSemiBold';
  align-self:flex-end;
  text-align:right;
  color:black;
}
.info.story{
  align-self:center;

}
.pointer a{
  text-align:center;
  color:blue;
  text-transform:uppercase;
  font-size: 0.8em;
  /* float:left; */
}
  /*ISSUES SPECIFIC*/
  main#articles {

  background-color:'#e8edd9'!important;
  border-bottom: black solid 2px ;
  }



table {
  font-family:'CypherSemiBold';
  padding: 1em 1em 1em 1em;
  margin:1em 0;
  border: 5px dotted red;
  align-items: stretch;
  align-content:center;
  width:100%;
}

tbody:not(.table-class){
  font-size:0.8em;
  align-self:center;

}

td {

  text-align: center;
  vertical-align: middle;
  padding:0.5em 0.5em 0.5em 0.5em;
  letter-spacing: 2px;

}

table > caption{
  /* display:inline-flex;
  writing-mode:vertical-lr !important;
  text-orientation: sideways; */
  letter-spacing:2px;
  text-decoration:underline;
  text-decoration-color:red;
  align-self:center;
  margin-bottom:1em;
}

.table-class{
font-family:'CypherBold';
text-transform:uppercase;
text-decoration:underline;
font-size:1.2em;
letter-spacing:1px;
padding:0.5em 0.5em 0.5em 0.5em;

/* transform: rotate(-10deg); */

}

blockquote{
  font-family:'CypherRegular';
  font-style: italic;
  padding:1em 4em;
  color:blue;
  /* background-color:#ffde17; */

}
/* .col .style-title h1,h2,h3,h4{

color:white !important;
} */
/* Underline animation */

.hover-underline-animation {
  /* display: inline-block; */
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.2em;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.50s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-underline-animation:focus::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.2em;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.50s ease-out;
}
.hover-underline-animation:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}









.text-light.hover-underline-animation {
  /* display: inline-block; */
  position: relative;
}

.text-light.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1em;
  bottom: 0.6em;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.50s ease-out;
}

.text-light.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
