
@font-face {
  font-family: "Xirod";
  src: url('/assets/fonts/xirod.ttf');
}
*{
  font-family: "Xirod";
  font-weight:normal;
  color: rgb(62, 241, 62);
}

 .sidenav{
  background: 
     
      rgba(28, 76, 25, 0.7);
      box-shadow: 0px 0px 2px white;
  

}

#header,#footer{ background-color: #296147;}

#hero .btn-get-started{
font-family: "Xirod";
border-color: black;
}
#hero .btn-get-started:hover{
  border-color: black;
  background-color:rgba(255, 255, 255, 0.521);
}
.navbar a , .navbar span{color:#000000;}

.wrap,  #DisclaimerBtn, .overflow-auto{/* Created with https://www.css-gradient.com */
  background: #000000;
  background: -webkit-linear-gradient(top left, #000000, #296147);
  background: -moz-linear-gradient(top left, #000000, #296147);
  background: linear-gradient(to bottom right, #000000, #296147);;

}

/*ANIMATIONS*/

@keyframes glitch-2 {
  1%{
    transform: rotateX(10deg) skewX(70deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  } 
}

@keyframes fall{
  from {top:-30px; opacity: 0;}
  to {top:0px; opacity: 1;}
}


@keyframes rotate {
  0% { transform: rotate(0turn); }
  100% { transform: rotate(6turn); }
}

@-webkit-keyframes rotate {
  0% { transform: rotate(0turn); }
  100% { transform: rotate(6turn); }
}

@keyframes move_rightleft {
  0% {left: 10px;}
  50% {right: 500px;}
  100% {left: 10px;}
}
@-webkit-keyframes move_rightleft {
  0% {left: 10px;}
  50% {right: 500px;}
  100% {left: 10px;}
}

@-webkit-keyframes run {
  0% {
    left: 0;
    transform: translateX(0);
  }
  100% {
    left: 80%;
    transform: translateX(-80%);
  }
}


/*Typography*/
#articles h1 { 
    
  animation:  glitch-2 5s infinite;
}
li a{
  color:rgb(62, 241, 62);
  text-decoration: none;
}

li a:hover{
  animation: glitch-2 1s;
  color:rgb(62, 241, 62);
  animation-iteration-count: 1;
}


#articles h2, #articles h3, #articles h4,  table, .metadata, .modal-content{
  
  animation: glitch-2 5s infinite;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(62, 241, 62);
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0px 0px 2px white;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}
#articles h5 {font-family: "Xirod";}

figure{
  
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(62, 241, 62);
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px white;

  animation:  glitch-2 3s infinite;
}

.metadata{
  animation-name: none;
  font-size: small;
}
.metadata h5{font-family: "Xirod";}
#articles h2:hover, #articles h3:hover, #articles h4:hover, .metadata:hover{
  background-color:rgba(255, 255, 255, 0.521);
}
#articles h2, #placeholder p{
  
  position: relative;
  animation: fall 5s 0s;
  animation-iteration-count: 1;
  
}

img{
  filter: sepia() hue-rotate(90deg);
 
/*
-webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); 
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
*/
border-width: 1px;
border-style: solid;
border-color: rgb(62, 241, 62);

border-radius: 10px;
box-shadow: 0px 0px 2px white;
} 

.features .card, .features .card:hover{
  background:  white;
  
}
#hero h1{
  text-shadow: 0.05em 0 0 #00ff2f, -0.03em -0.04em 0 #5a5d5a,
  0.025em 0.04em 0 #f7f6eb;
  animation: glitch-2 725ms infinite;
}

#hero{  background-image: url("/img/cyberpunk/matrix_wallp.jpg");

  background-repeat:repeat;
  background-position:center;
  background-size: cover;

  
}

.sidenav a {
    color:#6ba770;
    
  }
.sidenav a:hover {
    color:black;
    
    box-shadow:
      inset 12px 12px 24px 0px rgba(239, 243, 255, 1),
      inset -16px -16px 16px 0px rgba(191, 209, 255, 1),
      15px 15px 16px 0px rgba(131, 154, 215, 1);
  }

a.closebtn:hover {
    
  box-shadow:none;}

.content{
   
    border: 0px none rgba(100, 100, 100, 0);
    border-radius: 55px;
    
  }
  .about div.image {
    
 /* background-image: url(/img/cyberpunk/detective.jpg);*/
  border-radius: 25px ;
  border: 1px solid transparent;
  filter: blur();
  /*filter:hue-rotate(90deg);*/
 
}

.modal-content{
  font-size: small;
}


.services .icon-box{
    
    background: linear-gradient(
      225deg,
      rgba(178, 247, 99, 0.1) 17%,
      rgba(38, 171, 63, 0.1) 74%
    );
   
    box-shadow:
      inset 0px 5px 5px 0px rgba(255, 255, 255, 0.1),
      inset 0px -5px 5px 0px rgba(38, 171, 63, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  img#logo{
    width: auto;
    margin: auto;
    animation-name: rotate;
    animation-duration: 7s;
    animation-delay: 0s;
    border: none;
    
  }
  
  /* PARALLAX*/
  section.features, section.team{
    background-image: url(/img/cyberpunk/matrix_wallp.jpg);
   /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*COMPARE*/
#compare-stories div.scroll-column{
  background-color: rgba(28, 76, 25, 0.7);
}
#compare-stories div.overflow-auto>*,
#compare-stories div.overflow-auto ul a,
#compare-stories div.overflow-auto h4,
#compare-stories div.overflow-auto h5{
  font-size: medium;
}




