@font-face {
  font-family: "Chakra Petch";
  src: url('/assets/fonts/ChakraPetch-Medium.ttf');
}

@font-face {
  font-family: "Xirod";
  src: url('/assets/fonts/xirod.ttf');
}
*{
  font-family: "Xirod";
  font-weight:normal;
  color: rgb(62, 241, 62);
}

.wrap{/* Created with https://www.css-gradient.com */
  background: #000000;
  background: -webkit-linear-gradient(top left, #000000, #5CD79D);
  background: -moz-linear-gradient(top left, #000000, #5CD79D);
  background: linear-gradient(to bottom right, #000000, #5CD79D);;

}
#articles h1 { 
    
  animation:  glitch-2 5s infinite;
/*text-align: center;
position: relative;
text-orientation: upright;
  font-size: medium;
left: 17%;
animation: fall 5s 1.02s;
animation-iteration-count: 1;
*/
}
li a{
  color:rgb(62, 241, 62);
  text-decoration: none;
}
li a:hover{
  animation: glitch-2 1s;
  color:rgb(62, 241, 62);
  animation-iteration-count: 1;
}


#articles h2, #articles h3, #articles h4 {
  
  animation: glitch-2 5s infinite;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(62, 241, 62);
}
#articles h2:hover, #articles h3:hover, #articles h4:hover{
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0px 0px 2px white;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}
#articles h2, #placeholder p{
  
  /*float:right;
  writing-mode: vertical-lr;
  text-orientation: upright;*/
  position: relative;
  animation: fall 5s 1.02s;
  animation-iteration-count: 1;
  
}
#hero h1{
  text-shadow: 0.05em 0 0 #00ff2f, -0.03em -0.04em 0 #5a5d5a,
  0.025em 0.04em 0 #f7f6eb;
  animation: glitch-2 725ms infinite;
}




@keyframes glitch-2 {
  1%{
    transform: rotateX(10deg) skewX(70deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }

  
}

@keyframes fall{
  from {top:-30px; opacity: 0;}
  to {top:0px; opacity: 1;}
}

@keyframes fall_r{
  from {top:0px; opacity: 0;}
  to {top:60px; opacity: 1;}
}



#hero{  background-image: url("/img/cyberpunk/matrix_wallp.jpg");

  background-repeat:repeat;
  background-position:center;
  background-size: cover;

  
}

  .sidenav a {
    color:#72c393;
    border-style: solid;
    border-width:1px;
    border-color: aliceblue;
  }
  .sidenav a:hover {
    color:black;
    
    box-shadow:
      inset 12px 12px 24px 0px rgba(239, 243, 255, 1),
      inset -16px -16px 16px 0px rgba(191, 209, 255, 1),
      15px 15px 16px 0px rgba(131, 154, 215, 1);
  }
  a.closebtn{
    border-width: 0px;
  }
  a.closebtn:hover {
    
  box-shadow:none;}



.metadata{
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0px 0px 2px white;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

.content{
    background: 
     
      rgba(38, 171, 63, 0.1) 74% ;
    border: 0px none rgba(100, 100, 100, 0);
    border-radius: 55px;
    
  }

  
  
   .services .icon-box{
    
    background: linear-gradient(
      225deg,
      rgba(178, 247, 99, 0.1) 17%,
      rgba(38, 171, 63, 0.1) 74%
    );
   
    box-shadow:
      inset 0px 5px 5px 0px rgba(255, 255, 255, 0.1),
      inset 0px -5px 5px 0px rgba(38, 171, 63, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }


   /* PARALLAX*/
  section.features, section.team{
    background-image: url(/img/cyberpunk/matrix_wallp.jpg);
   /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*COMPARE*/
#compare-stories div.overflow-auto{
  background-color: black;
}

img#logo, .team:hover .section-title {
  width: auto;
  margin: auto;
  animation-name: rotate;
  animation-duration: 7s;
  animation-delay: 2s;
  
}

@keyframe rotate {
  0% { transform: rotate(0turn); }
  100% { transform: rotate(6turn); }
}

@-webkit-keyframes rotate {
  0% { transform: rotate(0turn); }
  100% { transform: rotate(6turn); }
}


/*


  --BUTTON GLITCH--

box-shadow:
      inset 12px 12px 24px 0px rgba(239, 243, 255, 1),
      inset -16px -16px 16px 0px rgba(191, 209, 255, 1),
      15px 15px 16px 0px rgba(131, 154, 215, 1);

  button,
button::after {
 

  background: linear-gradient(45deg, transparent 5%, black 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #fff;
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "DISCLAIMER";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #fff 3%,
    rgb(245, 242, 242) 5%,
    #181818 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
*/


  
  
  
