/*METADATA background*/
.metadata{background-color: #CAEEC2;}
.metadata:hover{
    background-color: #E5F6DF;}

.circt{display: none;}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

