

@font-face {
font-family: "Moscoso" ;
src: url("../fonts/VICTM___.TTF");
}

@font-face {
font-family: 'Cooper-Black';
src: url('../fonts/cooper-black.ttf'); /*http://www.fontsaddict.com/fontface/amelia.ttf */
}

*{font-family: "Moscoso";}

.body,  .wrap {
background-color:#2090a1; 
}  




.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.sidenav a:hover,
.sidenav .closebtn:hover,
.navbar li:hover>a {
text-decoration: none;
color: white;
}

.dropdown ul a.nav-link.scrollto:hover{color:#108b9e;}

#header,#footer {

color:white;
background-color:#dd1c4b; 
 
}
/*#page_logo h1 span, nav>* a{font-family: "Davida"; color: black;}*/

.sidenav{background-color:#dd1c4b;
}
.sidenav a {color:#fff}

#navbarTogglerDemo03 a{

font-family: "Moscoso";

color:black;

}

#hero{
background-image: url("../img/updated/pexels-cottonbro-7299584.jpg") ;
background-repeat:repeat;
background-position:center;
background-size: cover;
}


#hero .btn-get-started{
font-family: "Moscoso";
border-radius: 50%;
text-decoration: none;
color:#dd1c4b;
background-color: #faff2c;
border-color:#dd1c4b;
border-style:ridge;
border-width: 3px;
      }
#hero .btn-get-started:hover {
    background: #dd1c4b;
    border: 2px solid #dd1c4b;        
}
/*
.back-to-top {
position: fixed;
visibility: hidden;
opacity: 0;
right: 15px;
bottom: 15px;
z-index: 996;
width: 40px;
height: 40px;
transition: all 0.4s;
border-radius: 50%;
border-width: 5px;
border-color:white;
background-color:#dd1c4b;
border-style: solid;
}

.back-to-top:hover{
background-color:#108b9e;
}
*/
.about .image {
    filter: grayscale(100%);
    
}
   
.about .content {
padding: 20px;
background-color: white;
color: #dd1c4b;
text-align: center;
font-size:large;

}


.about .content h3, .about .content p {
font-family: "Moscoso";
color:#dd1c4b;


}




div.modal-content {
background-color: white;
color: #dd1c4b;

font-size:medium;
/*font-weight: bold;
border-width: 5px;
border-style: solid;
border-color:#dd1c4b;*/

}


.modal-content .close {
color:#dd1c4b;   
}


#DisclaimerBtn {
    border-style: none;
    font-family:  "Moscoso" ;
    color: white;
    background-color: #dd1c4b;
    /*background-color: #ffce00;*/
   
    }
#DisclaimerBtn:hover{
    
    background-color:#108b9e;
    border:none;
    border-style: none;   
}

.features .card, .metadata { 
    border-width: 5px;
    border-style: solid;
    border-color: white;
    background: rgba(36, 36, 36, 0.9) ;
    text-align:center;
    }

/*.metadata{ 

background-color:#faff2c; 
color:#dd1c4b; 
}*/
 
    
.features .card-title a{
     
    font-size: 200%;
    font-weight: normal;
    background: linear-gradient(to right, #d6365a,
     white, #108b9e);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
/*.info p{ float:right;
 font-family: "Davida";}*/
 
.metadata h5, .metadata label, .metadata p{background: linear-gradient(to right, #d6365a,
    white, #108b9e);
       -webkit-text-fill-color: transparent;
       -webkit-background-clip: text;
    font-family: "Moscoso";}

.features  .card-text{
block-size: max-content;
     
    font-size:x-large;
    font-stretch:expanded;
    background: linear-gradient(to right,   #d6365a,
 white, #108b9e);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
 }

.features .card:hover{
border-color: #dd1c4b;
background-color: #faff2c;
text-decoration: none;
    }

.features .card:hover  .card-title a , .features .card:hover .card-text{
    background: #dd1c4b;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-decoration: none;
  }

.features img {filter: sepia() hue-rotate(300deg) saturate(var(--value, 5)); --value: 4;}
/*
.section-title {
font-family: "Davida";  
}*/

.section-title h2{

color:#dd1c4b;
}

.section-title p {
    color:white;
    
}

.services .icon-box{

    border-radius: 15px 50px ;
    background-color: #faff2c ;
   
}



            

.services .test-content-right h3 a, .services .test-content-left h3 a{
font-size: 150%; 
color: #dd1c4b;
text-transform:uppercase;   
}


.services .test-content-right p{font-size: 150%; 
                            text-align:unset; 
                            color: #dd1c4b;
                             
                            }
.services .test-content-left p{font-size: 150%; 
                            color: #dd1c4b;
                             
                            }


h1,h3,h4{ color: #dd1c4b;   font-family: 'Moscoso';  }

a { color: #dd1c4b;  }
/*.member img{
    
    filter: sepia() hue-rotate(370deg) saturate(var(--value, 5)); --value: 4;
}*/

.team .member .member-info-content h4{
 
color:#dd1c4b;
font-size: 50px;
}



.team .member:hover .member-info-content h4, .team .member:hover, .team .member:hover img {  
color: #dd1c4b;   
}
.team .member:hover .member-info{
background: rgba(161, 160, 161, 0.1);
}

div.container.info-section div.row{background-color: #fff; }
div.container.info-section div.row p{font-family: "Cooper-Black";}
div.container.info-section div.row h1, div.container.info-section div.row h2 {color: #dd1c4b;}

/*ISSUES*/
.grid-container{display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
column-gap: 28px;}


#navbarTogglerDemo03 a.active, #navbarTogglerDemo03 a:hover{color: #2090a1;}
div.wrap#issuespage{background-color: #fff;}

.circt{     margin-left: 0;
align-self: center;

display:block;
}

#articles{background-color: #fff;}
.text{margin-top: 10px;}
.text p a{color: #dd1c4b; }
pre p, #articles h5, #articles ul{font-family: "Cooper-Black";}

.info, .info li a{

font-size: small;    
color:black;
text-decoration: none;
font-family:"Cooper-Black";
}



/* .text p:nth-child(odd){  
border: 2px solid #dd1c4b; padding:5px;
}

*/
@media screen and (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 

        .circt{width:300px;}
 
       /* .text{ 
    column-count:2;
    column-gap: 40px;
    column-rule: 2px solid black;
       column-rule: 4px solid #dd1c4b;
       font-size: x-large;*/
      }

div.notes p{
    font-size: xx-small;
    font-family: "Cooper-Black";
    color: black;
}
#articles figure img{
   
   filter: sepia() hue-rotate(100deg) saturate(var(--value, 5)); --value: 4;
  
}




@media screen and (max-width:801px){
.circt{
    width: 100px;
}

}


#articles h1 {                         
                        font-family: "Moscoso";
                        color:black;
                         }
#articles h2 ,#articles h2>* { text-decoration: none; font-family: "Cooper-Black"; color: #fff; background-color: #dd1c4b; }

 #articles h4, #articles h4>*{font-family: "Cooper-Black"; color: #dd1c4b}
 #articles h5{color: #dd1c4b;}
  #articles h3, #articles h3>*{font-family: "Cooper-Black"; color: #dd1c4b;}
/* FILTER THE IMAGESSSSSSSSSSSS
#articles h3, #articles h3>* {color:black;  background-color: #fff; text-decoration: underline overline; font-family: "Cooper-Black"; font-size: xx-large; text-transform: uppercase;}*/




.intro h4{color:#dd1c4b}  
/*.metadata h5 {font-family: "Moscoso"; font-size: x-large; color:#dd1c4b;}*/

/*old titles 

h5, #articles h3 i , #articles ul a{color:black; font-family: "Cooper-Black";}
#articles h3,#articles h4{font-family: 'Moscoso'; color: black;}
#articles h2,  #articles h2>*{color:white; font-family:"Davida";background-color: #dd1c4b; border:1px solid transparent;}
 #articles p{text-transform: none; }
 #articles h1{font-family: "Moscoso"; color:black}

 */

#articles p, #articles p>*{text-transform: none; color:black;  font-family: 'Cooper-Black'; font-weight: lighter;}
#articles h1{  color:black;}

#placeholder p{ text-align: center; font-family: "Moscoso"; font-size: xx-large; color:#dd1c4b;   }
#placeholder {
align-self: center; }

#articles ul a{color:black;}

p#author , p#article-info , .intro p{ text-align: center;  color: black;}

.metadata label{font-family: 'Moscoso';}
sup a {color: #2090a1; text-decoration: none; }
/*
.metadata:hover {
color: #dd1c4b;
background-color: #faff2c;
} */



main#articles {

background-image: none;
}
#articles figure {
    display: block;
   
    width: min-content;
    text-align: center;


background-color: #dd1c4b;
border-style: solid;
padding: 4px;
border-color: #dd1c4b;

}

/* #articles figure img{width:max-content; }
.intro{

font-size: xx-large;
align-self: center;
width: 480px;
background-color: #faff2c;
border-style: solid;
border-width: 5px;
border-color:#dd1c4b;
}*/
#articles figure {
    margin-left: auto;
    margin-right: auto;
    
    
    
}

figcaption{font-family: "Moscoso";
        color: white;
        font-size:xx-large;
        align-self: center;}
table{ 
margin-top: 10px;
padding: 10px;
background-color:#dd1c4b;
column-span: all;
  
}
/*  table border  border-style: solid;
border-width: 2px;
border-color:#dd1c4b;  


td{background: linear-gradient(to right, #d6365a,
#108b9e);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;}
*/

td{color: #fff; padding: 10px; font-size: large;}

/*  */     
blockquote{font-family: "Cooper-black";   color:black;}
div.notes p{
font-size: xx-small; }


#documentation-page .row{margin-bottom: 50px; padding: 5%; background-color: #faff2c;  text-align:justify;  border-radius:  15px ;} 
#documentation-page .row h2, #documentation-page .row h1{text-align: center; }
#documentation-page .row p{padding: 1%;}