

@font-face {
    font-family: "Davida";
    src: url("../fonts/Davida___.ttf") format('truetype');
      }
@font-face {
        font-family: "Davida";
        src: url("../fonts/DavidaRegular.ttf") format('truetype');
          }

@font-face {
    font-family: 'Amelia';
    src: url('../fonts/AmeliaItalic.ttf'); /*http://www.fontsaddict.com/fontface/amelia.ttf */
  }

@font-face {
    font-family: "Euphoria" ;
    src: url("../fonts/EuphoriaParty-1Geng.ttf");
}

@font-face {
    font-family: "Moscoso" ;
    src: url("../fonts/VICTM___.TTF");
}
 
@font-face {
    font-family: 'Boecklins';
    src: url('../fonts/BoecklinsUniverse.ttf'); /*http://www.fontsaddict.com/fontface/amelia.ttf */
  }
.wrap {
    background-color:#108b9e; /*   rgb(83, 177, 180)  */
    }  
/*'Bungee Shade', cursive;
background-image: radial-gradient(circle, rgb(255, 0, 179), yellow, rgb(28, 241, 216));*/
    
.logo {
    font-family: "Moscoso";
}

p  { color: #333; font-family: "Boecklins"; text-transform: lowercase; /* font-size: 16px; line-height: 28px; margin: 0 0 24px;*/ }

img{filter: grayscale(100%);}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.sidenav a:hover,
.navbar li:hover>a {
    text-decoration: none;
    color: #108b9e;
}

#header,#footer {
    color:white;
    background-color:#dd1c4b; 
    font-family: "Moscoso";
}

.sidenav{background-color:#dd1c4b;
   }
.sidenav a {color:#fff}

.sidenav .closebtn:hover{
    text-decoration: none;
}

#navbarTogglerDemo03{
    font-family: "Amelia";
    color:white;
    background-color: #108b9e;
}
 
#hero{
    background: url("../img/updated/pexels-cottonbro-7299584.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
    /*background: url("https://cdn.pixabay.com/photo/2017/11/12/22/52/christmas-bauble-fractal-2944076_1280.jpg") no-repeat center center ;
    background: url("../img/updated/pexels-cottonbro-7299584.jpg") no-repeat center center ;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}*/

#hero:before {
    content: "";
    background: rgba(95, 94, 95, 0.1);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

#hero h1{
    font-family: "Moscoso" /* 'Bungee Shade', cursive;*/
}

#hero .btn-get-started{
    font-family: "Moscoso";
   
    border-radius: 50%;
    text-decoration: none;
    color:#dd1c4b;
    background-color: #faff2c;
    border-color:#dd1c4b;
    border-style:ridge;
    border-width: 3px;
          }
#hero .btn-get-started:hover {
        background: #dd1c4b;
        border: 2px solid #dd1c4b;        
    }
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    width: 40px;
    height: 40px;
    transition: all 0.4s;

    border-radius: 50%;
    border-width: 5px;
    border-color:white;
    background-color:#dd1c4b;
    border-style: solid;
}

.back-to-top:hover{
    background-color:#108b9e;
}

.about .image {
    border-radius: 50%;
   filter: grayscale(100%);
}
    
    
.about .content{
    padding:5px;
    font-size: 170%;
    /*border-style:groove;    
    border-radius: 15px 50px; */
    /* background-color: #f5a46c;    cornice arcobaleni  https://t3.ftcdn.net/jpg/01/41/79/12/360_F_141791256_sE42YMpLpVKB6VY5RuBSjU1c6Kdrud8c.jpg
     border-style: solid;
    border-width: 5px;
    border-color: rgb(38, 60, 185);
    border-image: url("/img/scrollframe.jpg") 50 ; */
    background-color: white;
    text-align: center;
    text-transform: uppercase;    
}
.about .content h3{
    font-family: "Euphoria";
    
    color:#dd1c4b;
    font-weight: normal;
}

.about .content p{
    
    font-family: "Euphoria";
     line-height: 25px; 
    line-height: 25px;
     line-height: 25px; 
    line-height: 25px;
     line-height: 25px; 
    line-height: 25px;
     line-height: 25px; 
    line-height: 25px;
     line-height: 25px; 
    color: #dd1c4b;
}
/*
.about .content p::first-line{
    text-decoration: #dd1c4b wavy overline;
     }*/

div.modal-content {
    background-color: #faff2c;

    color: #dd1c4b;
    font-family: "Moscoso";
    font-weight: bold;
    font-size:large;
    border-width: 5px;
    border-style: solid;
    border-color:#dd1c4b;
    
}


.modal-content .close {
    
    color:#dd1c4b;
    
}


#DisclaimerBtn {

        font-family:  "Euphoria"/*'Bungee Shade', cursive*/ ;
        color: white;
        
        background-color: #dd1c4b;
        /*background-color: #ffce00;*/
        
        border-width: thick;
       
        }
#DisclaimerBtn:hover{
        background-color:#108b9e;   
    }

.features .card{ 
        
        
        border-width: 5px;
        border-style: solid;
        border-color: white;
        background: rgba(36, 36, 36, 0.753) ;
        text-align:center;
        }


        
.features .card-title a{
        font-family: "Moscoso";
        font-size: 250%;
        font-weight: normal;
        background: linear-gradient(to right, #d6365a,
         white, #108b9e);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    }

.features  .card-text{
    
    block-size: max-content;

        font-family: "Moscoso";
        font-size:x-large;
        font-stretch:expanded;
        background: linear-gradient(to right,   #d6365a,
     white, #108b9e);
    -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
     }

.features .card:hover{
    border-color: #dd1c4b;
    background-color: #faff2c ;
    text-decoration: none;
        }

.features .card:hover  .card-title a , .features .card:hover .card-text{
        background: #dd1c4b;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-decoration: none;

      }
  

.section-title span{
    font-family: "Davida";
    
}

.section-title h2{
    font-family:"Davida"; 
    color:#dd1c4b;
}

.section-title p {
    /* background-color: rgba(243, 230, 230, 0.5);*/
        color:white;
        font-family: "Davida";
    }

.services .icon-box{
    
        border-radius: 15px 50px ;
        background-color: #faff2c ;
       
        /*border-style:solid; #f5a46c*/
        /*border-width: 5px;*/
       /* border-color: black;*/
    }


.services .img-left {
    border-radius: 100px;
    margin: 15px;
    width: 120px;
    float: left;
    z-index: 1;
}

.services .img-right {
    border-radius: 100px;
    margin: 15px;
    width: 120px;
    float: right;
    z-index: 1;
                
                }

                

.services .test-content-right h3 a, .services .test-content-left h3 a{
    font-size: 150%; 
color: #dd1c4b;
 text-transform:uppercase;   
}


.services .test-content-right p{font-size: 150%; 
                                text-align:unset; 
                                color: #dd1c4b;
                                font-family: "Moscoso";
                                }
.services .test-content-left p{font-size: 150%; 
                                color: #dd1c4b;
                                font-family: "Moscoso";
                                }


h1,h3, h4{ color: #dd1c4b;   font-family: 'Moscoso';  }

a { color: #dd1c4b;  }



    
    

.member img{
        border-width: 10px;
        border-style: solid;
        border-color: #dd1c4b;
  }

/*
.card-img-top{
    -webkit-filter: blur(0px) brightness(1.1) contrast(1.4) grayscale(0.39) hue-rotate(250deg) invert(0.1) opacity(100%) saturate(8.8) sepia(0.5) drop-shadow(0px 0px 5px #000);
    filter: blur(0px) brightness(1.1) contrast(1.4) grayscale(0.39) hue-rotate(250deg) invert(0.1) opacity(100%) saturate(8.8) sepia(0.5) drop-shadow(rgb(0, 0, 0) 0px 0px 5px);
}*/
.team .member .member-info-content h4{
    font-family: "Moscoso";
    color:#dd1c4b;
    font-size: 50px;
}

.team .member .member-info-content span{
    font-family: "Moscoso";
    color: #dd1c4b;
    font-size: 30px;
}



.team .member:hover .member-info-content h4, .team .member:hover .member-info-content span, .team .member:hover img {  
    color:#dd1c4b;   
  }
.team .member:hover .member-info{
background: rgba(161, 160, 161, 0.1);
  }


 /*ISSUES*/
 .circt{display: block; 
    align-self: center; 
    height: 150px;}
 path {
    fill: transparent;
  }
h5, #articles h3 i , #articles ul a{color:black; font-family: "Davida";}
#articles h2{color:white; font-family:"Davida";background-color: black; border-radius: 10px; border:1px solid transparent;}
 #articles p{text-transform: none;}
 #articles h1{font-family: "Moscoso"; color:black}
 #author{float: left; font-family: "Davida"; border-radius: 10px; border-style: solid; border-width: 2px;}
 #article-info{float: right; position: relative;
font-family: "Davida";
border-radius: 10px; border-style: solid; border-width: 2px; position: relative;}

 .metadata{ 
    /*
    width: 200px;
    height: 400px;
    position: fixed; */
    font-family: "Moscoso";
    background-color:#dd1c4b; 
    color:white; 
    
    border-width: 5px;
    
    border-style: solid;}

.metadata:hover {
    color: black;
}

blockquote{font-family: "Moscoso";  color:#dd1c4b; background-color:#faff2c ; border-radius: 10px; border:1px solid transparent;}
.notes p{
    color:black; 
    font-size: 60%;}
main#articles {
    background-color: white;
    background-image: none;
    }
.frame{
    
    border: 30px solid;
    border-image: url(/img/circt.png) 50 round;
   
    }
table{ 
        font-family: "Boecklins";
    text-transform: uppercase;}
td {
    border: 1px solid black;
    border-radius: 10px;
    }
    thead {
    background-color: #333;
    color: white;}
    
  .dainty{
    font-size: 80%;
    text-align: center;
    border-radius: 50%;

    max-width:max-content;
  }
