@font-face {
    font-family: "Choda";
    src: url("../fonts/CHODA___.ttf") format('truetype');
      }

@font-face {
    font-family: 'Amelia';
    src: url('../fonts/AmeliaItalic.ttf'); /*http://www.fontsaddict.com/fontface/amelia.ttf */
  }

@font-face {
    font-family: "Euphoria" ;
    src: url("../fonts/EuphoriaParty-1Geng.ttf");
}
 
@font-face {
    font-family: 'Boecklins';
    src: url('../fonts/BoecklinsUniverse.ttf'); /*http://www.fontsaddict.com/fontface/amelia.ttf */
  }

/*'Bungee Shade', cursive;*/  
    
main{
    background-color: #00ffce;
    
    }

.logo {
    font-family: "Euphoria";
}

.navbar a:hover {
    text-decoration: wavy;
    
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color:#00ffce;
}

#header,#footer {
    color:white;
    background-color:#D6237F;
    font-family: "Boecklins";
    }

.sidenav{background-color:#D6237F;
   
            }
.sidenav a {color:#fff}
.sidenav a:hover {color:#00ffce; 
text-decoration: none;}
.sidenav .closebtn:hover{
    text-decoration: none;
}

#navbarTogglerDemo03{
    font-family: "Amelia";
    color:white;
    background-color: #00ffce;
}
.metadata  {background-color:#D6237F;
font-family: "Boecklins";}
.metadata:hover{background-color: greenyellow;}

.poster{
    background-color: #efdcbb;
    background-image: url("framenobg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

.about{
    
    background-image: url('psych_bg.jpg') no-repeat center center ;
    /*rays img: https://img.freepik.com/free-vector/psychedelic-groovy-background_23-2148860829.jpg?w=2000*/
    /*background-color: rgba(250, 145, 190, 0.9);*/
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

 
#hero{
    /*background: url("https://cdn.pixabay.com/photo/2017/11/12/22/52/christmas-bauble-fractal-2944076_1280.jpg") no-repeat center center ;*/
    background: url("../img/updated/pexels-cottonbro-7299584.jpg") no-repeat center center ;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

#hero:before {
    content: "";
    background: rgba(95, 94, 95, 0.1);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

#hero h1{
    font-family: "Boecklins" /* 'Bungee Shade', cursive;*/
}

#hero .btn-get-started{
    font-family: "Amelia";
    border-radius: 50%;
    text-decoration: none;
    color:black;
    font-size: 150%;
    background-color:#00ffce;
    border-color:#d04764;
    align-self: center;
    border-style:ridge;
    border-width: 5px;
   
          }
#hero .btn-get-started:hover {
        background: #d04764;
        border: 2px solid #d04764;
        
    }


.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    border-width: 5px;
    border-color: purple;
    background-color:rgb(255, 136, 0);
    border-style: solid;
    transition: all 0.4s;
  }

.back-to-top:hover{
    background-color:greenyellow;
}

.about .image {

    filter: grayscale(100%);
    border-radius: 25px;
}
    
    
.about .content{
   
    border-radius: 15px 50px;
    /*border-style:groove;     */
     background-color: rgb(255, 136, 0);
    /*border-width: 20px;*/
    border-color:#d04764;
    text-align: center;
    text-transform: uppercase;    
}
.about .content h3{
    font-size: 160%;
    font-family: "Boecklins";
    border-radius: 50%;
    width:50%;
    translate: 40%;
  background-color:black;
  color:white;
      
}

.about .content p ul{
    color:black;
    font-size: 110%;
}


.modal-content{
    color: black;
    background-color: #ffce00;
    font-family: "Amelia";
    border-radius: 25px;
    border-width: 20px;
    border-style: groove;
    border-color:#d04764;
}

.modal-content .close {
    font-family: "Boecklins";
    color:black;
    
}


 #DisclaimerBtn {

        font-family:  "Boecklins"/*'Bungee Shade', cursive*/ ;
        color: #d04764;
        border-color: #d04764;
        background-color: #00ffce;
        /*background-color: #ffce00;*/
        border-style: dotted;
        border-width: thick;
       
        }
 #DisclaimerBtn:hover{
        background-color:#ffce00;   
    }


/*.features{
    background: url('psych_bg.jpg') no-repeat center center ;
}*/
  

.features .card{ 
        
        border-radius: 25px;
        border-width: 20px;
        border-style: solid;
        border-color: rgb(255, 136, 0) ;
        background:  purple;
        text-align:center;
        
       }

.features .card:hover{
        background:  purple;
        
    }
.features .card-title a{
        font-family: "Euphoria";
        font-size: 300%;
        color:rgb(255, 136, 0);
    }

.features .card:hover{
        border-color:greenyellow;
    }

.features .card:hover  .card-title a , .card:hover .card-text{
        color: greenyellow;
        text-decoration: none;

      }

    
.features  .card-text{
        color:rgb(255, 136, 0);
        font-family: "Euphoria";
        font-size: 150%;
    
     }
  

.section-title span{
    font-family: "Amelia";
    
}

.section-title h2{
    font-family:"Amelia"; 
    color:#D6237F;
}

.section-title p {
                   
                /* background-color: rgba(243, 230, 230, 0.5);*/
                    color:white;
                }

.services .icon-box{
        border-radius: 15px 50px ;
        background-color: rgb(255, 136, 0);
       
        /*border-style:solid;*/
        /*border-width: 5px;*/
       /* border-color: black;*/
    }


.services .img-left {
    border-radius: 100px;
    margin: 15px;
    width: 120px;
    float: left;
    z-index: 1;
}

.services .img-right {
    border-radius: 100px;
    margin: 15px;
    width: 120px;
    float: right;
    z-index: 1;
                
                }

                

.services .test-content-right h3{
font-size: 200%;

}
.services .test-content-left h3{
    font-size: 200%;
    
}

.services .test-content-right p{font-size: 150%; text-align:unset;}
.services .test-content-left p{font-size: 150%; }


h1,h3{ color: #d04764;   font-family: 'Boecklins';  }


p  { color: #333; font-family: "Boecklins"; text-transform: lowercase; font-size: 110%;/* font-size: 16px; line-height: 28px; margin: 0 0 24px;*/ }


a { color: #d04764;  }


a:hover { text-decoration: underline ;
    cursor:url("C:\\Users\\lored\\OneDrive\\Desktop\\esame_vitali\\images\\peace.png");}



.pointer{cursor:url("C:\\Users\\lored\\OneDrive\\Desktop\\esame_vitali\\images\\peace.png"), auto;}



/*psych animation images*/
@-webkit-keyframes psychedelic {
    0% {
      -webkit-filter: hue-rotate(0deg) saturate(2) invert(0);
    }
    
    50% {
      -webkit-filter: hue-rotate(360deg) saturate(8) invert(.25);
    }
    
    100% {
      -webkit-filter: hue-rotate(0deg) saturate(2) invert(0);
    }
  }
 
  
    
    /* inside  .member img
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    mix-blend-mode: screen;
    -webkit-animation: psychedelic linear 10s infinite;
    -moz-animation: psychedelic linear 10s infinite;
    -o-animation: psychedelic linear 10s infinite;
    animation: psychedelic linear 10s infinite;*/

    .member img{

        filter: greyscale(100%);
        border-width: 20px;
        border-style: solid;
        border-color:rgb(255, 136, 0);
  }

/*
.card-img-top{
    -webkit-filter: blur(0px) brightness(1.1) contrast(1.4) grayscale(0.39) hue-rotate(250deg) invert(0.1) opacity(100%) saturate(8.8) sepia(0.5) drop-shadow(0px 0px 5px #000);
    filter: blur(0px) brightness(1.1) contrast(1.4) grayscale(0.39) hue-rotate(250deg) invert(0.1) opacity(100%) saturate(8.8) sepia(0.5) drop-shadow(rgb(0, 0, 0) 0px 0px 5px);
}*/
.team .member .member-info-content h4{
    font-family: "Euphoria";
    color: rgb(255, 136, 0) ;
    font-size: 50px;
}

.team .member .member-info-content span{
    font-family: "Euphoria";
    color:rgb(255, 136, 0);
    font-size: 30px;
}



.team .member:hover .member-info-content h4 {  
    color:rgb(255, 136, 0);   
  }
  .team .member:hover .member-info-content span {
    color:rgb(255, 136, 0);
  }
.team .member:hover .member-info{
background: rgba(161, 160, 161, 0.1);
  }

.team .member:hover img{
    border-color: rgb(255, 136, 0);
}
 /*ISSUES*/
 #articles h2, h5, #articles h3 i , ul a{color:black; font-family: "Choda";}
 .metadata{
    background-color: purple; 
    color:rgb(255, 136, 0); 
    border-radius: 25px;
    border-width: 20px;
    border-style: solid;}
blockquote{font-family: "Choda"; font-size: 90%; background-color:rgba(250, 250, 250, 0.5);}
.notes p{
    color:#D6237F; 
    font-size: 60%;}
main#articles{background-color: white;}