/* vaporwave */

.wrap {
  background-image: url("https://github.com/Under-the-Magnifying-Glass/Under-the-Magnifying-Glass.github.io/blob/main/img/vaporwave/holograph.jpeg?raw=true");
  cursor: url("https://github.com/Under-the-Magnifying-Glass/Under-the-Magnifying-Glass.github.io/blob/main/img/vaporwave/cursor.png?raw=true");
}



#canvas {
  background-image: url('https://github.com/Under-the-Magnifying-Glass/Under-the-Magnifying-Glass.github.io/blob/main/img/vaporwave/tile-holo.jpg?raw=true');

  padding-left:1vw;
  padding-right:1vw;
  padding-top:1vh;
  text-align:justify;
  border: 3px solid fuchsia;
  border-style: groove;
  box-shadow: 5px 5px cyan, 5px 5px cyan;
  }

#articles{
  background-color:#B6D4D8;
  padding-left:1vw;
  padding-right:1vw;
  padding-top:1vh;
  text-align:justify;
  border: 3px solid cyan;
  border-style: groove;
  box-shadow: 5px 5px magenta, 5px 5px magenta;
  }

}

.collapse{
  border: 3px solid fuchsia;
  border-style: ridge;
  box-shadow: 5px 5px cyan, 5px 5px cyan;
  }
/* +--------------FONTS--------------+ */

@font-face {
    font-family:'SFAlien';
    src: url('assets/fonts/SFAlienEncounters-Italic.ttf') format(italic);
}

@font-face {
      font-family: 'VCR_MONO';
      src: url('../fonts/VCR_MONO.ttf');
}
@font-face {
      font-family: 'Rocket Rinder';
      src: url('../fonts/RocketRinder-yV5d.ttf');
}



#header .logo h1 {
    font-size: 28px;
    margin: 0;
    line-height: 1;
    font-weight: 700;
    font-family:'Rocket Rinder';
    letter-spacing: 2px;
    /* text-transform: uppercase; */
}

#articles  p{
  padding-bottom: 4px;
  line-height: 1.4;
  font-weight: 400;
  font-family:'VCR_MONO';
  letter-spacing: 1.5px;
  border-width: thick;
  border-color:white;


}

.navbar-nav{
  background-color:cyan;
  color:cyan;
  font-family:'VCR_MONO';
  text-shadow: 1px 1px white, 1px 1px white;

}
.nav-item{
  margin-right:4vw;
  color:cyan;

}
.nav-item:hover{
    transform: scale(1.2);

}
.a{
  color:cyan;


}

.metadata{

  border: 3px solid fuchsia;
  border-style:dotted;
  box-shadow: 5px 5px cyan, 5px 5px cyan;
}
 /* ------------ANIMATIONS----------- */

.zoom-nav {
  transition: transform .2s;
}


/* .collapsible {
  background-color:white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
}

.collapsible:hover {
  background-color: #E5F6DF;
}

.content-met {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
} */

.nav{
  background-color:cyan !important;
}
