/* vaporwave */

.wrap {
  background-image: url("https://github.com/Under-the-Magnifying-Glass/Under-the-Magnifying-Glass.github.io/blob/main/img/vaporwave/holograph.jpeg?raw=true");
  cursor: url("https://github.com/Under-the-Magnifying-Glass/Under-the-Magnifying-Glass.github.io/blob/main/img/vaporwave/cursor.png?raw=true");
}



#canvas {
  background-image: url('https://github.com/Under-the-Magnifying-Glass/Under-the-Magnifying-Glass.github.io/blob/main/img/vaporwave/tile-holo.jpg?raw=true');

  padding-left:1vw;
  padding-right:1vw;
  padding-top:1vh;
  text-align:justify;
  border: 3px solid fuchsia;
  border-style: dotted;
  box-shadow: 5px 5px cyan, 5px 5px cyan;
  }

#articles{
  background-color:#B6D4D8;
  padding-left:1vw;
  padding-right:1vw;
  padding-top:1vh;
  text-align:justify;
  border: 3px solid cyan;
  border-style: dotted;
  box-shadow: 5px 5px magenta, 5px 5px magenta;
  }

}

/* +--------------FONTS--------------+ */

@font-face {
    font-family: 'SFAlien';
    src: url('../fonts/SFAlienEncounters-Italic.ttf');
  }
  @font-face {
      font-family: 'VCR_MONO';
      src: url('../fonts/SFAlienEncounters-Italic.ttf');
    }



  #header .logo h1 {
      font-size: 28px;
      margin: 0;
      line-height: 1;
      font-weight: 700;
      font-family:'SFAlien';
      letter-spacing: 2px;
      /* text-transform: uppercase; */
  }

  #articles h1{
    font-size: 28px;
    margin: 0;
    line-height: 1;
    font-weight: 700;
    font-family:'SFAlien';
    letter-spacing: 2px;

  }
