/* vaporwave */

.wrap {
  background-image: url("https://github.com/Under-the-Magnifying-Glass/Under-the-Magnifying-Glass.github.io/blob/main/img/vaporwave/holograph.jpeg?raw=true");
  cursor: url("https://github.com/Under-the-Magnifying-Glass/Under-the-Magnifying-Glass.github.io/blob/main/img/vaporwave/cursor.png?raw=true");
}



#canvas {
  background-color:#CEA2D7;
  padding-left:1vw;
  padding-right:1vw;
  padding-top:1vh;
  text-align:justify;
}

#articles{

}

/* +--------------FONTS--------------+ */

@font-face {
    font-family: 'SF Alien';
    src: url('../fonts/Baumans-Regular.ttf');
  }
