@font-face {
    font-family:"OldNewspaper";
    src: url("../fonts/OldNewspaperTypes.ttf");
}

* {
    font-family: "OldNewspaper";
}

.wrap {
    background-image: url("xix/M2oldnewspaperBG.jpg"); 
}

.sidenav {
    background-image: url("xix/M2oldnewspaperBG.jpg");
}

#hero {
    filter: grayscale(100%);
}

#hero .btn-get-started {
    border-style: double;
    border-width: 5px;
}

#header {
    background-image: url("xix/M2oldnewspaperBG.jpg"); 
    border-color: #000;
    border-style: double none double none;
    border-width: 5px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #000;
}

.navbar a,
.navbar a:focus {
  color: #000;
}

.about p, .services p, .features p{
    column-count: 2;
    column-gap: 25px;
    text-align: justify;
}

#DisclaimerBtn{
    color: #000;
    background-color: #fff;
    border-color: #000;
    border-style: double;
    border-width: 5px;
}
#DisclaimerBtn:hover {
    border-width: 8px;
}

.image, img:not(.card-img-top){
    filter: grayscale(100%);
    border-radius: 50%;
    border-style: solid;
    border-width: medium;
}

.card{
    background-color: #faf8f4 ;
}

.icon-box{
    background-color: #faf8f4;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}

.card-img-top {
    filter: grayscale(100%);
    box-shadow: 0 0 8px 8px white inset;
}

.features .card {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
  }



/*ISSUES SPECIFIC*/
#toggler {
    background-image: url("xix/M2oldnewspaperBG.jpg") !important;
    border-bottom: black solid 2px ; 
}
